doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Laravel Mix
        include partials/assets.pug
    body 
        div Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur sunt earum vitae facilis enim architecto iusto, tenetur incidunt quidem a commodi provident quaerat libero molestias laudantium, totam eos dolores iure?