extends ../layout/main.pug

block body
    div Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam autem dignissimos deserunt possimus modi commodi eum maiores temporibus quaerat minus cumque libero quos laboriosam incidunt, amet ut voluptates minima! Ipsum.
    div Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat animi dicta debitis labore necessitatibus ratione iste iusto in tenetur tempore fugiat nulla quia, culpa maxime sequi consequatur libero corporis minima.
    div Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius quibusdam temporibus eaque cumque provident sint possimus inventore explicabo voluptatum suscipit delectus enim quo, impedit alias ad veritatis? Consectetur, ratione atque!
